<h2> Edit Review </h2>

<form action="/reviews/<%=@review.id%>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="patch">

   Title: <input type="text" name="review[title]" value="<%= @review.title %>">
   Description: <input type="text" name="review[description]" value="<%= @review.description %>">
   Rating: <input type="text" name="review[rating]" value="<%= @review.rating %>">
   <input type="submit" value="Save Review">
</form>

<form action="/reviews/<%=@review.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete This Review">

</form>

<p><a href='/logout'>Log Out</a></p>
