<h2>Hello Foodie, <%= current_user.username %></h2>

<h3>Your Reviews</h3>
</br>

  <% @user_reviews.each do |review| %>

  <div>
     <p>Title: <a href="/reviews/<%=review.id%>"><%= review.title %></a>
     <p>Description: <%= review.description %></p>
     <p>Rating: <%= review.rating %></p>
     <p><a href="/reviews/<%= review.id %>/edit"> Edit Review</a></p>
   </div>
 <% end %>

 <p><a href='reviews/new'>Create a Review</a><p>

 <p><a href='/logout'>Log Out</a></p>

</br>


<h2>Check Out What Others Are Saying!</h2>
<div>
  <%if @reviews != nil %>
<% @reviews.each do |review| %>
<p>User: <%=User.find(review.user_id).username%></p>
<p>Title: <%= review.title %></p>
<p>Description: <%= review.description %></p>
<p>Rating: <%= review.rating %></p>

<br></br>
<% end %>
</div>
<% end %>
